@use "styles/variables" as v;

.inp {
    padding: v.$space-m 44px v.$space-m v.$space-xs;
    width: 100%;
    background-color: v.$white;
    border: 1px solid v.$white;
    border-radius: v.$border-radius;
    font-weight: 400;
    font-size: v.$p-16;
    line-height: 20px;
    height: max-content;
    width: 335px;
}

input.inp::placeholder{
    color: v.$secondary-color;
    font-weight: 400;
    font-size: v.$p-16;
    line-height: 20px;
}

.inp_icon{
    position: relative;
    right: 36px;
    top: 6px;
}

input:focus {
    border-color: v.$brand;
    outline:  v.$brand;
}

