@use "styles/variables" as v;

.btn {
    border: none;
    border-radius: v.$border-radius;
    color: v.$white;
    background: v.$brand;
    font-size: v.$p-18;
    display: flex;
    align-items: center;
    gap: v.$space-xxs;
    cursor: pointer;
    font-style: normal;
    height: max-content;
}

.loader > path {
    fill: v.$white;
}

.btn-disable {
    background-color: v.$button-primary-bg-disabled;
}

.btn-hover:hover {
    background-color: v.$brand-hover;
}

.btn:active{
    background-color: v.$brand-active;
}