$brand: #B5460F;
$brand-hover: #B5460FB2;
$brand-active: #872D01;
$button-primary-bg-disabled: #d9d9d9;
$primary-color: #000000;
$secondary-color: #afadb5;
$white: #fff;
$black: #000;

$p-20: 20px;
$p-18: 18px;
$p-16: 16px;
$p-14: 14px;

$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;

$border-radius: 10px;

$background: #FFC0763B;
$background-brand: #b5460f54;