@use "styles/variables" as v;

.card{
    width: 360px;
    background: #D4D4D4;
    border-radius: v.$border-radius;
    overflow: hidden;

    &__content  {
        background: v.$white;
        padding: v.$space-l v.$space-xs v.$space-xl v.$space-xs;
        width: 360px;

        &.second_content {
            background: #D9D9D9;
            padding: 0;
            height: 360px;
        }
    }

    &__image {
        height: 100%;
        object-fit: cover;

    }

    &__capt-slot,
    &__title,
    &__subtitle {
        text-align: start;
    }

    &__subtitle {
        height: 40px;
    }

    &__title {
        min-height: 48px;
        margin: v.$space-xxs 0;
    }
    
    &__other-info {
        margin-top: v.$space-l;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &:hover {
        box-shadow: 0 4px 10px 0 #00000040;
    }
}