@use "styles/variables" as v;

.wrapper_items {
    background-color: v.$white;
    box-shadow: 0 4px 10px 0 #00000040;
    width: 335px;
    margin-top: v.$space-xxs;
}

.item {
    padding: v.$space-s v.$space-xs;
    font-weight: 400;
    font-size: v.$p-16;
    line-height: 20px;
}

.item:hover {
    color: v.$secondary-color;
}