@use "styles/variables" as v;

.wrapper {
    width: max-content;
    position: relative;
}
.wrapper_items {
    background-color: v.$white;
    box-shadow: 0 4px 10px 0 #00000040;
    width: 335px;
    margin-top: v.$space-xxs;
    border-radius: v.$border_radius;
    position: absolute;
}

.item {
    padding: v.$space-s v.$space-xs;
    font-weight: 400;
    font-size: v.$p-16;
    line-height: 20px;

    &_select {
        color: v.$brand;
    }
}


.item:hover {
    color: v.$secondary-color;
}