@use "styles/variables" as v;

.wrapper {

    &_bg{
        width: 100%;
        object-fit: cover;
    }

}

div.main_container {
    padding-top: 36px;
    padding-bottom: 28px;
    text-align: center;

    .underline {
        text-decoration: underline;
    }
}