@use "styles/variables" as v;
@use "styles/mixins" as m;

.checkbox_wrapper {
    position: relative;
    @include m.square(40px);
    background-color: v.$white;
    cursor: pointer;
    border-radius: v.$border-radius;
    overflow: hidden;
}

.checkbox {
    @include m.square(40px);
    opacity: 0;
    cursor: pointer;
}

.checkbox_wrapper:hover{
    border: 1px solid v.$brand;
    
}

.checkbox_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:disabled {
        color: v.$checkbox-color-disabled;
    }

} 

.checked_wrap_dis{
    background-color: v.$checkbox-border;
}

.checked_wrap_dis:hover{
    border-color: v.$checkbox-hove-border;
}